# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak

# Temporary and extraction files
*.txt
*.cjs
*.json.tmp
all_component14_reactions.json
c14_info.json
figma_exports/
MLN111_FIGMACONVERT/
.agents/
scratch/
*.traineddata


(MLN111) SE1915 SP sáng tạo.md
asset/